<!DOCTYPE html>
<html>
	<head>
		<title>YelpCamp</title>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
		<link href="/stylesheets/main.css" rel="stylesheet">
	</head>
	<body>

		<%- include("navbar") %>
		

		<div class="container">
			<% if(success && success.length > 0) { %>
				<div class="alert alert-success" role="alert">
				<%= success %>
			</div>
			<% } %>
		</div>
		
		<div class="container">
			<% if(error && error.length > 0) { %>
				<div class="alert alert-danger" role="alert">
					<%= error %>
				</div>
			<% } %>
		</div>