<%- include("partials/header") %>

<div class="container">
	<div class="jumbotron">
		<h1 class="display-4">About Me</h1>
			<p class="lead">This is a website created during a class to learn about web development.</p>
			<hr class="my-4">
			<p>I'm expanding on it and adding new features and coding workflows with the goal to demonstrate to future employers my ability to utilize software engineering practices, ideas, and methods.</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="/campgrounds" role="button">View Campgrounds</a>
			</p>
	</div>
</div>

<%- include("partials/footer") %>