.thumbnail img{
	width: 100%;
}

.thumbnail{
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

.deleteForm {
	display: inline;
}

#footerDiv {
	position: fixed;
	bottom: 0;
	margin-left: 5px;
}

.formHeader {
	text-align: center;
}

.formDiv {
	width: 30%;
	margin:20px auto;
}